<div class="flex-container">
    <div class="flex-item-one">
        <div id="column-a">
            <table *ngIf="size.length > 0" class="charts-css column show-labels data-spacing-2 data-start">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of size">
                        <td style="--size: {{item}};">{{item * 10}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="icon" class="flex-item-two">
        <mat-icon id="column-b" [svgIcon]="icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <div>{{total}}</div>
    </div>
</div>

<div id="divider"></div>
<mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize" [showFirstLastButtons]="true"
    [hidePageSize]="true" [pageSizeOptions]="[]" aria-label="Select page">
</mat-paginator>