
<div class="flex-container">
    <div class="flex-item-left">
        <div class="flex-container">
            <div class="flex-item-one">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Actions Buttons 1</mat-card-title>
                        <mat-card-subtitle>End</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card> 
            </div>
            <div class="flex-item-two">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Actions Buttons 2</mat-card-title>
                        <mat-card-subtitle>End</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        
        </div>
    </div>
    <div class="flex-item-midle">
        <div class="flex-container">
            <div class="flex-item-one">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Actions Buttons 3</mat-card-title>
                        <mat-card-subtitle>End</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card> 
            </div>
            <div class="flex-item-two">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Actions Buttons 4</mat-card-title>
                        <mat-card-subtitle>End</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        
        </div>
    </div>
    <div class="flex-item-right">
        <div class="flex-container">
            <div class="flex-item-one">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Actions Buttons 5</mat-card-title>
                        <mat-card-subtitle>End</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card> 
            </div>
            <div class="flex-item-two">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Actions Buttons 6</mat-card-title>
                        <mat-card-subtitle>End</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
    </div>

</div>