<div class="flex-container">
    <div class="flex-item-left">
        <canvas *ngIf="isBrowser" baseChart width="350" height="350" [data]="barChartData" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'">
        </canvas>
    </div>
    <div class="flex-item-midle">
        <canvas *ngIf="isBrowser" baseChart width="350" height="350" [type]="'line'" [data]="lineChartData"
            [options]="lineChartOptions" [legend]="lineChartLegend">
        </canvas>
    </div>
    <div class="flex-item-right">
        <canvas *ngIf="isBrowser" baseChart width="350" height="350" [type]="'pie'" [datasets]="pieChartDatasets"
            [labels]="pieChartLabels" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
    </div>

</div>